#item-body{
	margin-top:50px;
	height:100vh;
	padding:50px;
	text-align:center;
}

#img-div{
	position:relative;
	display:inline-block;
	height:100%;
	width:30%;
	overflow:hidden;
}


#prod-img{
	display:inline-block;
	height:50%;
	margin-top:25%;
}

#prod-info{
	text-align:left;
	display:inline-block;
	height:100%;
	width:60%;
	padding:50px;
	overflow:hidden;
}

#prod-controls{
	margin-top:75px;
	display:inline-block;
}

#prod-controls input{
	border:none;
	border-bottom:2px solid black;
	width:20%;
	margin-right:20px;
}

#prod-controls input:focus{
	outline:none;
}

#prod-controls button{
	border:none;
	font-size:2vh;
	color:#D3782C;
	border:solid 5px #D3782C;
	padding:10px;
	border-radius:15px;
}

#prod-controls button:hover{
	background:#D3782C;
	color:white;
}

#prod-controls button:focus{
	outline:none;
}


nav{
	margin-top:-50px;
}