a{
	text-decoration:none;
	color:black;
}

#header-text{
	width:100%;
	text-align:center;
	margin-top:100px;
	margin-bottom:25px;

}

#products{
	margin: 0 auto;
	text-align:center;
}

.item{
	display:inline-block;
	width:30%;
	height:50vh;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin:10px;
	overflow:hidden;
	padding:20px;
}

.item img{
	height:40%;
}

.item .item-name{
	font-size:4vh;
}

.item .prod-desc{
	font-size:2vh;
	text-align:left;
}

.item .more-info{
	margin-top:10px;
}